.rate_widget, .rate_widget_show {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      180px;
    height:     32px;
}
.ratings_stars, .ratings_stars_show {
    background: url('images/star_empty.png') no-repeat;
    float:      left;
    height:     28px;
    padding:    2px;
    width:      32px;
}
.ratings_vote {
    background: url('images/star_full.png') no-repeat;
}
.ratings_over {
    background: url('images/star_highlight.png') no-repeat;
}